.nav{
    position: fixed;
    top:0;
    width:100%;
    z-index: 1;
    display: flex;
    padding:20px;
    justify-content: space-between;
    max-height:40px;
    transition-timing-function: ease-in;
    transition: all 0.5s;
}
.nav__show{
background-color: #111;
}
.nav__logo{
    max-height:50px;
    object-fit: contain;
    max-width: 80px;
    margin-left: 10px;
    padding-bottom: 20px;
}

.nav__avatar{
    object-fit: contain;
    width:30px;
    position: fixed;
    margin-bottom:20px;
    right:20px;     
     
    
     
}